/* .game {
    height: 100%;
    width: 100%;
    --minor: calc(100vmin / 10);
    --major: calc(var(--minor) * 2);
    background-color: #e8e2ea;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.12)1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.12)1px, transparent 1px),
        linear-gradient(to right, rgba(0, 0, 0, 0.24)1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.24)1px, transparent 1px);
    background-size:
        var(--minor) var(--minor),
        var(--minor) var(--minor),
        var(--major) var(--major),
        var(--major) var(--major);
}
/

/**FONT STYLES **/
@font-face {
    font-family: 'Rubik Glitch';
    src: url('/fonts/Rubik-Glitch/RubikGlitch-Regular.woff2') format('woff2'),
        url('/fonts/Rubik-Glitch/RubikGlitch-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Glitch Pop';
    src: url('/fonts/Rubik-Glitch-Pop/RubikGlitchPop-Regular.woff2') format('woff2'),
        url('/fonts/Rubik-Glitch-Pop/RubikGlitchPop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**BACKGROUND DESIGN**/
/* Ensure % heights work and the page can fill the viewport */
html,
body {
    height: 100%;
}

* {
    font-family: 'Rubik Glitch', 'Times New Roman', Times, serif;
}