/**OVERALL GRID **/
.game__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /** Should be auto 1fr auto as final adjustment**/
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    width: 100%;
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
}

.game__header {
    grid-area: header;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__sidebar {
    grid-area: sidebar;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__main {
    grid-area: main;
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}