/** OVERALL GRID **/
.game__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr 0.5fr;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    grid-template-areas:
        "header   header   header"
        "sidebarX main     sidebarO"
        "gameBar  gameBar  gameBar"
        "footer   footer   footer";
}

.game__header {
    grid-area: header;
    border: 1px solid red;
}

.game__sidebar {
    border: 1px solid red;
}

.game__sidebar--x {
    grid-area: sidebarX;
}

.game__sidebar--o {
    grid-area: sidebarO;
}

.game__bar {
    grid-area: gameBar;
    border: 1px solid green;
    width: 100%;
}

.game__footer {
    grid-area: footer;
    border: 1px solid red;
}

/* BOTH start screen and board live in the "main" area */
.game__start {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(157, 0, 255);
}

.game__board {
    grid-area: main;
    border: 5px solid blue;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}