/**OVERALL GRID**/
.game__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /** Should be auto 1fr auto as final adjustment**/
    grid-template-rows: 1fr 4fr 0.5fr 0.5fr;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    grid-template-areas:
        'header header header'
        'sidebar-x main sidebar-o'
        'game-bar game-bar game-bar'
        'footer footer footer';
}

.game__header {
    grid-area: header;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__sidebar-x {
    grid-area: sidebar-x;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__sidebar-o {
    grid-area: sidebar-o;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__bar {
    border: 1px solid green;
    grid-area: game-bar;
    width: 100%;
}

.game__footer {
    grid-area: footer;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

.game__main {
    grid-area: main;
    border: 5px solid blue;
}

/**MAIN**/

.game__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}