/** OVERALL GRID **/
.game__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr 0.5fr;
    gap: 0.25rem;
    height: 100vh;
    width: 100%;

    grid-template-areas:
        "header   header   header"
        "sidebarX main     sidebarO"
        "gameBar  gameBar  gameBar"
        "footer   footer   footer";
}

.game__header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game__sidebar--x {
    grid-area: sidebarX;
}

.game__sidebar--o {
    grid-area: sidebarO;
}

.game__start {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__dialog-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game__dialog-title {
    align-self: center;
}

.game__field {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.game__board {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.25rem;
}

.game__bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1rem;
    grid-area: gameBar;
    width: 100%;
}

.game__status--container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.game__button--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}